
html, body {
    width: 100%;
    height: 100%;
}

body {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

